{% extends 'SkaRe/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Home" %} - SkaRe{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron bg-light p-5 rounded text-center">
<img src="{% static 'SkaRe/images/logo-transparent.png' %}" alt="SkaRe Logo" class="home-logo">
            <p class="lead">{% trans "Manage Units and Participants in the PlachtIS system." %}</p>
            <hr class="my-4">
            
            {% if user.is_authenticated %}
                <p>{% trans "Hello" %}, {{ user.first_name }} {{ user.last_name }}! {% trans "You are logged in as" %} <strong>{{ user.username }}</strong>.</p>
                
                <div class="mb-4">
                    <h5>{% trans "Register" %}</h5>
                    <a class="btn btn-primary btn-lg me-2 mb-2" href="{% url 'SkaRe:register_unit' %}" role="button">
                        <i class="bi bi-people"></i> {% trans "Register Unit" %}
                    </a>
                    <a class="btn btn-primary btn-lg me-2 mb-2" href="{% url 'SkaRe:register_individual_participant' %}" role="button">
                        <i class="bi bi-person"></i> {% trans "Register Individual Participant" %}
                    </a>
                    <a class="btn btn-success btn-lg mb-2" href="{% url 'SkaRe:register_organizer' %}" role="button">
                        <i class="bi bi-star"></i> {% trans "Register Organizer" %}
                    </a>
                </div>
                
                <div class="mb-4">
                    <h5>{% trans "My Registrations" %}</h5>
                    <a class="btn btn-info btn-lg me-2 mb-2" href="{% url 'SkaRe:list_units' %}" role="button">
                        <i class="bi bi-people-fill"></i> {% trans "My Units" %}
                    </a>
                    <a class="btn btn-info btn-lg me-2 mb-2" href="{% url 'SkaRe:list_individual_participants' %}" role="button">
                        <i class="bi bi-person-fill"></i> {% trans "My Individual Participants" %}
                    </a>
                    <a class="btn btn-info btn-lg mb-2" href="{% url 'SkaRe:list_organizers' %}" role="button">
                        <i class="bi bi-star-fill"></i> {% trans "My Organizers" %}
                    </a>
                </div>
                
                {% if user.is_staff %}
                <div class="mb-3">
                    <h5>{% trans "Administrator options" %}</h5>
                    <a class="btn btn-warning btn-lg me-2 mb-2" href="/admin/" role="button">
                        <i class="bi bi-gear"></i> {% trans "Admin Panel" %}
                    </a>
                    <a class="btn btn-warning btn-lg me-2 mb-2" href="{% url 'SkaRe:list_all' %}" role="button">
                        <i class="bi bi-gear"></i> {% trans "Show All Participants" %}
                    </a>
                    <a class="btn btn-warning btn-lg me-2 mb-2" href="{% url 'SkaRe:list_merchandise' %}" role="button">
                        <i class="bi bi-bag-fill"></i> {% trans "Scarves and Hats" %}
                    </a>
                    <a class="btn btn-warning btn-lg mb-2" href="{% url 'SkaRe:manage_entities' %}" role="button">
                        <i class="bi bi-check-circle"></i> {% trans "Manage Entities" %}
                    </a>
                </div>
                {% endif %}

                <div class="mb-3">
                    <a class="btn btn-secondary btn-lg" href="{% url 'SkaRe:logout' %}" role="button">
                        <i class="bi bi-box-arrow-right"></i> {% trans "Logout" %}
                    </a>
                </div>
            {% else %}
                <p>{% trans "Please login or register to access the system." %}</p>
                <p class="mb-0">
                    <a class="btn btn-primary btn-lg me-2" href="{% url 'SkaRe:login' %}" role="button">{% trans "Login" %}</a>
                    <a class="btn btn-success btn-lg" href="{% url 'SkaRe:register' %}" role="button">{% trans "Register" %}</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
